html{
	background-color:#A7FFEB;
}
#container{
	width:600px;
	margin:50px auto;
	background-color:#558B2F;
	padding:50px;
}
h1{
	text-align:center;
}
table{
	width:360px;
	margin: 0 auto;
}
th,td{
	padding:8px 20px;
	text-align:center;
}
th{
	background-color:#FF4081;
}
td{
	background-color:#64dd17;
}
